<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <title>Customize Your Starbucks ~手間なしでスタバのおすすめカスタムを~ {% block title %}{% endblock title %}</title>
    <meta name="description" content="即座に簡単にあなたのスタバをパワーアップ！スタバ（スターバックス）のカスタマイズを利用すれば、今以上にスタバが楽しめます。普段飲むスタバドリンクのカスタマイズをご紹介。ぜひ1度使ってみてください！">
    <meta name="keywords" content="スターバックス, スタバ, スターバックス カスタム, スタバ カスタム, スタバ カスタマイズ, スタバ 新作 カスタム, スタバ フラペチーノ カスタム, スターバックス フラペチーノ カスタム">
    {% if baseUrl == 'https://cystarbucks.com/' %}
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    {% else %}
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    {% endif %}
    {% block links %}
        <link rel="icon" type="image/png" href="{{ baseUrl }}common/img/cysicon.ico" />
        <link rel="apple-touch-icon" href="{{ baseUrl }}common/img/cysicon.ico">

        <link rel="stylesheet" href="{{ baseUrl }}common/css/base_style.css">
    {% endblock links %}

    <!-- Google AdSense Start -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4092504389552639"
            crossorigin="anonymous"></script>
    <!-- Google AdSense End -->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5344B7Z');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5344B7Z"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{{ block('header') }}

{{ block('breadcrumb') }}

{{ block('content') }}

{% block footer %}
    <footer>
        <p><a href="{{ baseUrl }}privacy-policy/">プライバシーポリシー</a></p>
        <p>このwebサイトの商品画像、商品名、商品価格およびカスタマイズ名、カスタマイズ価格は<a href="https://www.starbucks.co.jp/" target="_blank">Starbucks Coffee Japan - スターバックス コーヒー ジャパン</a>より引用。</p>
    </footer>
{% endblock footer %}

{{ block('vue') }}

</body>
</html>