{% extends "./templates/layout.html.twig" %}

{% block header %}
{% endblock header %}

{% block content %}
    <h2>{{ name }}</h2>
    <img src="{{ imageUrl }}" alt="">
    {% for set in sets %}
        {{ set[0] }}
        {{ set[1] }}
        {{ set[2] }}
    {% endfor %}
{% endblock content %}