{% extends "./templates/layout.html.twig" %}

{% block title %}
    | Options for you
{% endblock title %}

{% block links%}
    {{ parent() }}
    <link rel="stylesheet" href="{{ baseUrl }}common/css/result_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
{% endblock links%}

{% block header %}
    <header>
        <h1>Options for you!</h1>
    </header>
{% endblock header %}

{% block breadcrumb %}
    <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope
            itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{{ baseUrl }}">
                <span itemprop="name">top</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>

        <li itemprop="itemListElement" itemscope
            itemtype="https://schema.org/ListItem">
            <a itemprop="item" href="{{ baseUrl }}search/{{ kind }}">
                <span itemprop="name">{{ kind }}</span>
            </a>
            <meta itemprop="position" content="2" />
        </li>

        <li itemprop="itemListElement" itemscope
            itemtype="https://schema.org/ListItem">
            <span itemprop="name">{{ name }}</span>
            <meta itemprop="position" content="3" />
        </li>
    </ol>
{% endblock breadcrumb %}

{% block content %}
    <section id="kv" style="background-image: url({{ baseUrl }}common/img/{{ imageUrl }});">
        <div class="block">
            {% if customizes is empty %}
                <h2 style="color: red;">Sorry, it's coming soon...</h2>
            {% else %}

                {% for catchPhrase, customize in customizes %}
                    <div class="contents-blk">

                        <h2>{{ catchPhrase }}</h2>

                        <div class="items">
                            <div class="items-blk">
                                {% for custom, addPrice in customize %}
                                    {% if loop.index0 == 0 %}
                                        <p>{% if ice_or_hot == 'ice' %}アイス{% else %}ホット{% endif %} トールサイズ の</p>
                                        <p class="name">★{{ name }}</p>
                                        <p>カスタマイズを</p>
                                    {% endif %}
                                    <p class="custom">・{{ custom }}</p>
                                {% endfor %}
                                <p>でお願いします。</p>
                            </div>
                        </div>

                        <h4>- Total Price ¥{{ totalPrices[catchPhrase] }} -</h4>

                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock content %}