{% extends "./templates/layout.html.twig" %}

{% block title %}
    | Customizes for you
{% endblock title %}

{% block links%}
    <link rel="stylesheet" href="{{ baseUrl }}common/css/result_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
{% endblock links%}

{% block header %}
    <header>
        <h1>Options for you!</h1>
        <p class="lead">あなたにおすすめのカスタマイズ！</p>
    </header>
{% endblock header %}

{% block content %}
    <section id="kv" style="background-image: url({{ imageUrl }});">
        <div class="block">
            {% if customizes is empty %}
                <h2 style="color: red;">Sorry, it's coming soon...</h2>
            {% endif %}
            {% for catchPhrase, customize in customizes %}
                <div class="contents-blk">
                    <h2>{{ catchPhrase }}</h2>

                    <div class="items">
                        {% for custom, addPrice in customize %}
                            {% if loop.index0 == 0 %}
                                <p style="margin-top: 60px;">・{{ name }}（¥{{ price }}）</p>
                            {% endif %}
                            <p>・{{ custom }}（+¥{{ addPrice }}）</p>
                        {% endfor %}
                    </div>

                    <h4>-Total Price ¥{{ totalPrices[catchPhrase] }}-</h4>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}