{% extends "./templates/layout.html.twig" %}

{% block links%}
    <link rel="stylesheet" href="{{ baseUrl }}common/css/result_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
{% endblock links%}

{% block header %}
    <header>
        <h1>Options for you!</h1>
        <p class="lead">あなたにおすすめのカスタマイズ！</p>
    </header>
{% endblock header %}

{% block content %}
    <section id="kv" style="background-image: url({{ imageUrl }});">
        <div class="block">
            {% for catchPhrase, customize in customizes %}
                <div class="contents-blk">
                    <h2>{{ catchPhrase }}</h2>

                    {% for custom, addPrice in customize %}
                        <div class="items">
                            {% if loop.index0 == 0 %}
                                    {{ name }}
                            {% endif %}
                            <p>★{{ custom }}（+¥{{ addPrice }}）</p>
                        </div>
                    {% endfor %}

                    <h3>Total Price¥{{ totalPrices[catchPhrase] }}</h3>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}