{% extends "./templates/layout.html.twig" %}

{% block title %}
    Choice your drink
{% endblock title %}

{% block links%}
    <link rel="stylesheet" href="{{ baseUrl }}common/css/search_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
{% endblock links%}

{% block content %}

    <div class="choice">
        <h1>Choice your Frappuccino</h1>
    </div>

    <form action="{{ baseUrl }}result/" method="post">
        <div class="container">
            {% for index,drink in drinks %}
                <div class="container-a">
                    <label for="{{ index }}">{{ drink.name|raw }}
                        <input class="btn" id="{{ index }}" type="radio" name="name" value="{{ drink.name|raw }}">
                        <p> <img style="max-width:300px; border-radius:150px;" src="{{ drink.imageUrl }}" alt=""></p>
                    </label>
                </div>
                <input type="hidden" name="imageUrl" value="{{ drink.imageUrl }}">
                <input type="hidden" name="price" value="{{ drink.price }}">
            {% endfor %}
        </div>


        <div class="selection-2">
            <h1>Choice hot or ice</h1>
        </div>

        <div class="container-2">
            <div class="container-b">
                <input class="btn" id="g" type="radio" name="ice_or_hot" value="hot">
                <label for="g">ホット</label>
            </div>
            <div class="container-b">
                <input class="btn" id="h" type="radio" name="ice_or_hot" value="ice">
                <label for="h">アイス</label>
            </div>
        </div>

        <div class="selection-3">
            <h1>Choice the price</h1>
        </div>


        <div class="container-3">

            <div class="container-c">
                <input class="btn" type="radio" name="selectedPrice" value="500">
                <label for="i">¥500</label>
            </div>

            <div class="container-c">
                <input class="btn" type="radio" name="selectedPrice" value="600">
                <label for="j">¥600</label>
            </div>

            <div class="container-c">
                <input class="btn" type="radio" name="selectedPrice" value="700">
                <label for="k">¥700</label>
            </div>

            <div class="container-c">
                <input class="btn" type="radio" name="selectedPrice" value="800">
                <label for="l">¥800</label>
            </div>

        </div>

        <div class="selection-4">
            <p class="letscustomize">Let's customize!!</p>
            <input class="btn" type="submit" name="submit" value="カスタマイズする">
        </div>

    </form>
{% endblock content %}