{% extends "./templates/layout.html.twig" %}

{% block content %}
    <div class="container text-center">
        <h1>Choice your frappuccion</h1>
        <form action="{{ baseUrl }}result/" method="post">
            {% for index,drink in drinks %}
                <div class="item-boxes">
                    <div>
                        <label>{{ drink.name|raw }}
                            <img src="{{ drink.imageUrl }}" alt="">
                            <input type="radio" name="name" value="{{ drink.name|raw }}">
                            <p>￥{{ drink.price|number_format }}</p>
                            <h2>{{ drink.title }}</h2>
                            <h3>{{ drink.text }}</h3>
                        </label>
                    </div>
                    <input type="hidden" name="imageUrl" value="{{ drink.imageUrl }}">
                    <input type="hidden" name="price" value="{{ drink.price }}">
                </div>
            {% endfor %}

            <div class="price-boxes">
                <div>
                    <label>
                        <input type="radio" name="selectedPrice" value="500">
                        ￥500
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="selectedPrice" value="600">
                        ￥600
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="selectedPrice" value="700">
                        ￥700
                    </label>
                </div>
                <div>
                    <label>
                        <input type="radio" name="selectedPrice" value="800">
                        ￥800
                    </label>
                </div>
            </div>

            <input type="submit" value="検索する">
        </form>
    </div>
{% endblock content %}