{% extends "./templates/layout.html.twig" %}

{% block links %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ baseUrl }}common/css/top_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
{% endblock links %}

{% block header %}
    <header id="kv">
        <div class="hello">
            <h1>Customize Your Starbucks!</h1>
            <div class="scroll" id="scroll" @click.prevent="scroll">
                <span>scroll</span>⬇︎
            </div>
            <p style="margin-top: 10px;">スタバのカスタムを探すのってひと手間かかりますよね？</p>
            <p style="margin-bottom: 20px;">ここではそのひと手間なしでカスタムを探せます。</p>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <section id="about" class="wrap-blk">
        {% for kind in kinds %}
            <div class="contents-blk">
                <h2>{{ kind.name }}</h2>
                <p>{{ kind.nameJp }}</p>
                <img src="{{ baseUrl }}common/img/{{ kind.name }}.jpg" alt="">
                <p class="btn"><a href="{{ baseUrl }}search/{{ kind.name }}">これを見る</a></p>
            </div>
        {% endfor %}
    </section>
{% endblock content %}

{% block vue %}
    <script>
        let scrollWrapper = new Vue({
            el: '#scroll',
            methods: {
                scroll() {
                    let about = document.getElementById('about');
                    let aboutY = about.getBoundingClientRect().top;
                    window.scroll({
                        top: aboutY,
                        behavior: 'smooth',
                    });
                }
            },
        })
    </script>
{% endblock vue %}
