{% extends "./templates/layout.html.twig" %}

{% block links %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ baseUrl }}common/css/top_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
{% endblock links %}

{% block header %}
    <header id="kv">
        <div class="hello">
            <h1>Customize Your Starbucks!</h1>
            <div class="scroll" id="scroll" @click.prevent="scroll">
                <span>scroll</span>⬇︎
            </div>
            <p style="margin-top: 10px;">スタバカスタムを探すのってひと手間かかりますよね？</p>
            <p style="margin-bottom: 20px;">そんなひと手間なしでカスタムを探せるサイトです。</p>
            <p>新作のフラペチーノのおすすめカスタムはどんなの？</p>
            <p>私の好きなあのラテのおすすめカスタムってあるの？</p>
            <p style="margin-bottom: 20px;">これらの疑問にも答えてくれるサイトです。</p>
            <h3 style="color: white;">スタバ大好きな私達が様々な情報を元に<br>実際に試しアレンジした自信のカスタムを<br>是非お試しください</h3>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <section id="about" class="wrap-blk">
        <div class="contents-blk">
            <h2>Frappuccino</h2>
            <p>フラペチーノ</p>
            <img src="{{ baseUrl }}common/img/frappuccino.jpg" alt="">
            <p class="btn"><a href="{{ baseUrl }}search/frappuccino">frappuccinoを選ぶ</a></p>
        </div>
        <div class="contents-blk">
            <h2>Espresso</h2>
            <p>エスプレッソ</p>
            <img src="{{ baseUrl }}common/img/espresso.jpg" alt="">
            <p class="btn"><a href="{{ baseUrl }}search/espresso">espressoを選ぶ</a></p>
        </div>
        <div class="contents-blk">
            <h2>Tea</h2>
            <p>ティー</p>
            <img src="{{ baseUrl }}common/img/tea.jpg" alt="">
            <p class="btn"><a href="{{ baseUrl }}search/tea">teaを選ぶ</a></p>
        </div>
        <div class="contents-blk">
            <h2>Coffee</h2>
            <p>コーヒー</p>
            <img src="{{ baseUrl }}common/img/coffee.jpg" alt="">
            <p class="btn"><a href="{{ baseUrl }}search/coffee">coffeeを選ぶ</a></p>
        </div>
        <div class="contents-blk">
            <h2>Others</h2>
            <p>その他</p>
            <img src="{{ baseUrl }}common/img/others.jpg" alt="">
            <p class="btn"><a href="{{ baseUrl }}search/others">othersを選ぶ</a></p>
        </div>
    </section>
{% endblock content %}

{% block vue %}
    <script>
        let scrollWrapper = new Vue({
            el: '#scroll',
            methods: {
                scroll() {
                    let about = document.getElementById('about');
                    let aboutY = about.getBoundingClientRect().top;
                    window.scroll({
                        top: aboutY,
                        behavior: 'smooth',
                    });
                }
            },
        })
    </script>
{% endblock vue %}
