{% extends "./templates/layout.html.twig" %}

{% block links %}
    <link rel="stylesheet" href="{{ baseUrl }}common/css/top_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300&display=swap" rel="stylesheet">
{% endblock links %}

{% block header %}
    <header id="kv">
        <div class="hello">
            <h1>Customize Your Starbucks</h1>
{#            <p>ここに日本語でこのサイトの説明文を書く</p>#}
        </div>
    </header>
{% endblock header %}

{% block content %}
    <section id="about" class="wrap-blk">
        <div class="contents-blk">
            <h2>Frappuccino</h2>
            <p>フラペチーノ</p>
            <img src="{{ baseUrl }}common/img/frappeccino.png" alt="">
            <p class="btn"><a href="{{ baseUrl }}search/frappuccino">カスタマイズする</a></p>
        </div>
        <div class="contents-blk">
            <h2>Coffee</h2>
            <p>コーヒー</p>
            <img src="{{ baseUrl }}common/img/coffee.png" alt="">
            <p class="btn"><a href="{{ baseUrl }}search/coffee">カスタマイズする</a></p>
        </div>
        <div class="contents-blk">
            <h2>Espresso</h2>
            <p>エスプレッソ</p>
            <img src="{{ baseUrl }}common/img/espresso.png" alt="">
            <p class="btn"><a href="{{ baseUrl }}search/espresso">カスタマイズする</a></p>
        </div>
        <div class="contents-blk">
            <h2>Tea</h2>
            <p>ティー</p>
            <img src="{{ baseUrl }}common/img/tea.png" alt="">
            <p class="btn"><a href="{{ baseUrl }}search/tea">カスタマイズする</a></p>
        </div>
        <div class="contents-blk">
            <h2>Others</h2>
            <p>その他</p>
            <img src="{{ baseUrl }}common/img/others.png" alt="">
            <p class="btn"><a href="{{ baseUrl }}search/others">カスタマイズする</a></p>
        </div>
    </section>
{% endblock content %}